<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<dom-module id="bitbucket-issues">
    <template>
        <iron-ajax
                id="projects"
                url="https://api.bitbucket.org/2.0/repositories/vistro/"
                handle-as="json"
                on-response="handleProjects"
                on-error="removeToken"></iron-ajax>

        <iron-ajax id="issues" handle-as="json" on-response="getIssues"></iron-ajax>

    </template>
    <script>
        Polymer({
            is: 'bitbucket-issues',
            properties: {
                accessToken: {type: String, observer: 'tokenChanged', notify: true},
                repositories: {
                    type: Array,
                    notify: true,
                    value: function () {
                        return [];
                    }
                },
                issues: {
                    type: Array,
                    notify: true,
                    value: function () {
                        return [];
                    }
                },
                countOfRepositories: Number,
                countOfRequests: {type: Number, value: 0}
            },
            observers: [
                'progress(countOfRepositories, countOfRequests)'
            ],
            tokenChanged: function (token) {
                if (token) {
                    this.$.projects.params = {access_token: token, pagelen: 100};
                    this.$.projects.generateRequest();
                }
            },
            handleProjects: function (e) {
                var repo;
                this.toggleClass('logged-in', true);
                for (var i = 0, len = e.detail.response.values.length; i < len; i++) {
                    repo = e.detail.response.values[i];
                    if (repo.has_issues)
                        this.repositories.push(repo.slug);
                }
                this.countOfRepositories = this.repositories.length;
                this.getIssues();
            },
            getIssues: function (e) {
                var repo, issue;
                if (e && e.detail.response) {
                    for (var i = 0, len = e.detail.response.values.length; i < len; i++) {
                        issue = e.detail.response.values[i];
                        this.push('issues', issue);
                    }
                    this.countOfRequests++;
                }

                if (this.repositories.length > 0) {
                    repo = this.shift('repositories');
                    this.$.issues.url = 'https://api.bitbucket.org/2.0/repositories/vistro/' + repo + '/issues';
                    this.$.issues.params = {
                        access_token: this.accessToken,
                        pagelen: 100,
                        q: '(state != "closed" AND state != "resolved" AND state != "wontfix" AND state != "duplicate" AND state != "invalid") OR (reporter.username != "cimmwolf" AND reporter.username != "ivda" AND state = "resolved")'
                    };
                    this.$.issues.generateRequest();
                }
            },
            progress: function (max, current) {
                this.fire('progress', {id: 'tasks', current: current, max: max});
            },
            removeToken: function () {
                this.toggleClass('logged-in', false);
            }
        })
    </script>
</dom-module>