<link rel="import" href="../../bower_components/google-signin/google-signin.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../dist/components/work-counter.html">
<link rel="import" href="../../dist/components/projects-list.html">

<dom-module id="projects-app">
    <template>
        <style>
            google-signin {
                position: absolute;
                bottom: 55vh;
                right: calc(50vw - 46px);
                transition: right 300ms, bottom 300ms;
            }

            google-signin.signed-in {
                position: fixed;
                bottom: 15px;
                right: 15px;
            }

            @media (min-width: 768px) {
                google-signin.signed-in {
                    bottom: 30px;
                    right: 30px;
                }
            }

            paper-progress[disabled] {
                display: none;
            }
        </style>

        <projects-list data="[[projects]]" class="container-fluid pull-left"></projects-list>
        <work-counter id="workCounter" class="pull-left container-fluid">
            <paper-progress id="progress" disabled></paper-progress>
        </work-counter>


        <google-signin
                theme="dark"
                scopes="https://www.googleapis.com/auth/spreadsheets.readonly"
                client-id="182325291554-sot8bgmf73k9p6ifal0h4vccourcf5pu.apps.googleusercontent.com"
                on-google-signin-success="onSignIn"
                on-google-signout-attempted="onSignOut"></google-signin>
        <iron-ajax
                id="ajax"
                handle-as="json"
                on-response="handleResponse"
                on-error="handleError"></iron-ajax>
    </template>
    <script>
        Polymer({
            is: 'projects-app',
            properties: {
                projects: {
                    type: Array,
                    value: function () {
                        return [
                            {id: '13S8BaeqtLhS_s-_pxj2yPHNBlioxNK45IqtjvinTVBc', name: 'Chopacho.ru'},
                            {id: '16YKAag1OL1lvA12hWyGb-GVL79-TzaNERgTFeelrOdY', name: 'Vistro.ru'},
                            {id: '19qrqk58cQ5N0E9tHwsR-ggd57iGYG56b24O2SNvFzag', name: '147school.ru'},
                            {id: '1HhITyQL2pfiuKG6MxK-hLOsvJi2vpMc5T3OY77JluEM', name: 'Luxoutlet.ru'},
                            {id: '1iBsQiL-OCT5uPodCgPe11H3pMqFg0i1xUQQMiQ5Mc4E', name: 'DSystem'},
                            {id: '1mpzxFSYHGMAYp-87EnNVTRo4HfhEHeilZIl7AF6tfEg', name: 'Kasok.ru'},
                            {id: '1mxdVGy3WMLVjFxGXlxWJQl35qrDy3tOfzMjk-8GHs4I', name: 'Eco74.com'},
                            {id: '1neh8UNXY4o55ECxWyEasollNGUMAdd5ijHMRvrUPC90', name: 'Galin74.ru'},
                            {id: '1rENFLWW7t8CJ1PWnzpJuKRmFDjeIJRxOj-voI7iEOkw', name: 'Integros.biz'},
                            {id: '1UNyAE-sS5c_YXwfA5PGALnUa0_EnUbpDsgUNDv_jB9o', name: 'Fondaero.ru'},
                            {id: '1UrHA-gx3dTmKj2R4qBkp4jCnSGu8lb-O8RczC-oY-pY', name: 'Kasok.ru-партнёры'}
                        ]
                    }
                }
            },
            ready: function () {
                this.workData = [];
                this.$.ajax.params = {
                    includeGridData: true,
                    fields: 'spreadsheetId,sheets.data.rowData.values.effectiveValue'
                };
                this.loadingCountdown = this.projects.length;
            },
            onSignIn: function (e) {
                var i,
                    length = this.projects.length,
                    oauthToken = gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse();

                this.toggleClass('signed-in', true, e.target);

                this.$.ajax.headers = {
                    'Authorization': 'Bearer ' + oauthToken.access_token
                };
                for (i = 0; i < length; i++) {
                    this.$.ajax.url = 'https://sheets.googleapis.com/v4/spreadsheets/' + this.projects[i].id;
                    this.$.ajax.generateRequest();
                }
                this.$.progress.disabled = false;
            },
            onSignOut: function (e) {
                this.toggleClass('signed-in', false, e.target);
                gapi.auth2.getAuthInstance().disconnect();
                this.projects = [];
                this.$.workCounter.data = [];
                setTimeout(function () {
                    window.location.reload();
                }, 300);
            },
            handleResponse: function (e) {
                var id, index, i, row,
                    done = 0,
                    rowData = e.detail.response.sheets[0].data[0].rowData,
                    length = rowData.length,
                    firstRow = rowData[0].values;

                for (i = 2; i < length; i++) {
                    row = rowData[i];
                    if (row.values != null && row.values[0].effectiveValue != null && row.values[1].effectiveValue != null && row.values[10].effectiveValue != null) {
                        done += row.values[10].effectiveValue.numberValue;
                    }
                }

                for (i = 0; i < this.projects.length; i++) {
                    if (this.projects[i].id === e.detail.response.spreadsheetId) {
                        this.projects[i].deadline = this.convert2JsTimestamp(firstRow[2].effectiveValue.numberValue);
                        this.projects[i].deadline = firstRow[4].effectiveValue.numberValue * 60 + firstRow[firstRow.length - 1].effectiveValue.numberValue;
                        this.projects[i].done = done;
                    }
                }

                e.detail.response.sheets.every(function (sheet) {
                    var i, row,
                        length = sheet.data[0].rowData.length;

                    if (length < 11)
                        return false;

                    for (i = 2; i < length; i++) {
                        row = sheet.data[0].rowData[i];
                        if (row.values != null && row.values.length > 10 && row.values[0].effectiveValue != null && row.values[1].effectiveValue != null && row.values[10].effectiveValue != null) {
                            this.push('workData', {
                                name: row.values[0].effectiveValue.stringValue,
                                date: this.convert2JsTimestamp(row.values[1].effectiveValue.numberValue),
                                value: row.values[10].effectiveValue.numberValue
                            });
                        }
                    }
                    return true
                }, this);
                this.progress();
            },
            handleError: function () {
                this.progress();
            },
            progress: function () {
                this.loadingCountdown -= 1;
                this.$.progress.value = Math.round((this.projects.length - this.loadingCountdown) * (100 / this.projects.length));
                if (this.loadingCountdown === 0) {
                    this.$.workCounter.data = this.workData;
                    this.$.progress.disabled = true;
                }
            },
            convert2JsTimestamp: function (value) {
                var daysSince01Jan1970 = value - 25569; // 25569 = days TO Unix Time Reference
                // Convert to numeric unix time
                return daysSince01Jan1970 * 24 * 60 * 60 * 1000;
            }
        })
    </script>
</dom-module>