<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<dom-module id="workers-tasks">
    <template>
        <style is="custom-style" include="style-common"></style>
        <style>
            :host { display: block; padding-left: 15px; }

            @media (min-width: 768px) {
                :host { padding-left: 30px; }
            }

            :host(.logged-in) paper-button { display: none }
        </style>

        <p>Tasks report:</p>

        <paper-button on-tap="bitbucketAuth">Log in Bitbucket</paper-button>


        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Open</th>
                <th>Resolved</th>
                <th>On Hold</th>
            </tr>
            </thead>
            <tbody>
            <template is="dom-repeat" items="[[users(issues.splices)]]">
                <tr>
                    <td>[[item]]</td>
                    <td class="text-right">[[countOfIssues(issues.splices, item, "open")]]</td>
                    <td class="text-right">[[countOfIssues(issues.splices, item, "resolved")]]</td>
                    <td class="text-right">[[countOfIssues(issues.splices, item, "on hold")]]</td>
                </tr>
            </template>
            </tbody>
        </table>
    </template>
    <script>
        Polymer({
            is: 'workers-tasks',
            properties: {
                repositories: Array,
                issues: Array
            },
            observers: [
                'hideLogInButton(repositories.length, issues.length)'
            ],
            hideLogInButton: function (reps, issues) {
                this.toggleClass('logged-in', reps + issues > 0)
            },
            users: function () {
                var users = [], issue;
                for (var i = 0, len = this.issues.length; i < len; i++) {
                    issue = this.issues[i];
                    if (issue.assignee && users.indexOf(issue.assignee.display_name) === -1)
                        users.push(issue.assignee.display_name);
                }
                return users;
            },
            countOfIssues: function (changes, user, status) {
                var issue, count = 0;
                if (status === 'open')
                    status = ['new', 'open'];
                else
                    status = [status];

                for (var i = 0, len = this.issues.length; i < len; i++) {
                    issue = this.issues[i];
                    if (issue.assignee && issue.assignee.display_name === user && status.indexOf(issue.state) > -1)
                        count++;
                }
                return count;
            },
            removeToken: function () {
                this.toggleClass('logged-in', false);
                this.accessToken = '';
            }
        })
    </script>
</dom-module>