<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="duration-string.html">
<link rel="import" href="../shared-styles/style-common.html">

<script src="../../bower_components/moment/min/moment.min.js"></script>

<dom-module id="work-counter">
    <template>
        <style is="custom-style" include="style-common"></style>
        <style>
            :host { display: block; padding-left: 15px; }

            @media (min-width: 768px) {
                :host { padding-left: 30px; }
            }
        </style>

        <p>
            Reports analyze:
        </p>
        <template is="dom-repeat" items="[[months]]" filter="{{_computeFilter(limit, months)}}">
            <p>[[item.month]]</p>
            <ul>
                <template is="dom-repeat" items="[[item.data]]" as="person" sort="_sortNames">
                    <li>
                        <a href$="/reports/[[person.name]]">[[person.name]]</a>:&nbsp;<duration-string
                            minutes="[[person.value]]"></duration-string>
                    </li>
                </template>
            </ul>
        </template>
        <div class="text-center">
            <paper-button hidden="{{_showMoreClass(limit, months.*)}}" on-tap="_showMore">Show more</paper-button>
        </div>
        <content></content>
    </template>
    <script>
        Polymer({
            is: 'work-counter',
            properties: {
                months: {type: Array, value: []},
                tst: Array,
                step: {
                    type: Number,
                    value: 3
                },
                limit: Number
            },
            ready: function () {
                this.limit = this.step;
            },
            _sortNames: function (a, b) {
                if (a.name > b.name) {
                    return 1;
                }
                if (a.name < b.name) {
                    return -1;
                }
                return 0;
            },
            _showMore: function () {
                this.limit += this.step;
            },
            _showMoreClass: function (limit, months) {
                return limit >= months.base.length;
            },
            _computeFilter: function (limit, months) {
                return function (item) {
                    var index = months.indexOf(item);
                    return index < limit;
                }
            }
        })
    </script>
</dom-module>