<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="duration-string.html">
<link rel="import" href="../shared-styles/style-common.html">

<script src="../../bower_components/moment/min/moment.min.js"></script>

<dom-module id="work-counter">
    <template>
        <style is="custom-style" include="style-common"></style>
        <style>
            :host { display: block; padding-left: 15px; }

            @media (min-width: 768px) {
                :host { padding-left: 30px; }
            }
        </style>

        <p>
            Reports analyze:
        </p>
        <template is="dom-repeat" items="[[months]]" filter="{{_computeFilter(limit, months)}}">
            <p>[[item.month]]</p>
            <ul>
                <template is="dom-repeat" items="[[item.data]]" as="person" sort="_sortNames">
                    <li>
                        <a href$="/reports/[[person.name]]">[[person.name]]</a>:&nbsp;<duration-string
                            minutes="[[person.value]]"></duration-string>
                    </li>
                </template>
            </ul>
        </template>
        <div class="text-center">
            <paper-button hidden="{{_showMoreClass(limit, months.*)}}" on-tap="_showMore">Show more</paper-button>
        </div>
        <content></content>
    </template>
    <script>
        Polymer({
            is: 'work-counter',
            properties: {
                data: {type: Array, value: []},
                months: {type: Array, value: []},
                tst: Array,
                step: {
                    type: Number,
                    value: 3
                },
                limit: Number
            },
            observers: [
                '_countByMonth(data.*)'
            ],
            ready: function () {
                this.limit = this.step;
            },
            _countByMonth: function (changeRecord) {
                var i, j, k, mLength, month, noHave, data, length;
                if (changeRecord.path === 'data.length') {
                    data = changeRecord.base[changeRecord.value - 1];
                    noHave = true;
                    j = this._generateMonths(data.date);
                    mLength = this.months[j].data.length;
                    for (k = 0; k < mLength; k++) {
                        month = this.months[j].data[k];
                        if (month.name === data.name) {
                            noHave = false;
                            this.set('months.' + j + '.data.' + k + '.value', month.value + data.value)
                        }
                    }
                    if (noHave)
                        this.push('months.' + j + '.data', {name: data.name, value: data.value});
                }
            },
            _generateMonths: function (date) {
                var i = 0, month = moment().utc().startOf('month');

                do {
                    if (this.months[i++] == null)
                        this.push('months', {month: month.format('MMM, YY'), data: []});
                    month.subtract(1, 'months');
                } while (!month.isBefore(date, 'month'));
                return i - 1;
            },
            _filterMonthsByIndex: function (months, step) {
                return months.base.slice(0, step);
            },
            _sortNames: function (a, b) {
                if (a.name > b.name) {
                    return 1;
                }
                if (a.name < b.name) {
                    return -1;
                }
                return 0;
            },
            _showMore: function () {
                this.limit += this.step;
            },
            _showMoreClass: function (limit, months) {
                return limit >= months.base.length;
            },
            _filterMonths: function (item) {
                var index = this.months.indexOf(item);
                return index < 3;
            },
            _computeFilter: function (limit, months) {
                return function (item) {
                    var index = months.indexOf(item);
                    return index < limit;
                }
            }
        })
    </script>
</dom-module>